.movie-page__wrapper {
    .container {
        width: 80%;
        margin: 30px auto;
        strong {
            font-weight: bold;
            line-height: 21px;
        }
        .movie-title {
            font-size: 42px;
            color: #e76d24;
        }
        .movie-subtitle {
            font-size: 24px;
            color: #e76d24;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .movie-description {
            max-width: 80%;
            margin: 15px 0;
            font-size: 14px;
            line-height: 21px;
        }
        .poster_wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            .movie-page__poster{
                border: 3px solid #e76d24;
            }
        }
    }
}